---
---

$content_width: 1024px;
$medium-content_width: 1200px;
$wide-content_width: 1200px;
// $grey: #F8F8F8;
$grey: #F2F2F2;

$background: #f8fafa;

@font-face {font-family: "SupriaSansW01-Light"; src: url("//db.onlinewebfonts.com/t/dd437b25e5a1128bd4066f087c694c88.eot"); src: url("//db.onlinewebfonts.com/t/dd437b25e5a1128bd4066f087c694c88.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/dd437b25e5a1128bd4066f087c694c88.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/dd437b25e5a1128bd4066f087c694c88.woff") format("woff"), url("//db.onlinewebfonts.com/t/dd437b25e5a1128bd4066f087c694c88.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/dd437b25e5a1128bd4066f087c694c88.svg#SupriaSansW01-Light") format("svg"); }

body, html {
  background-color: #ffffff;
}

#map {
  height: 850px;
}
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend {
  text-align: left; line-height: 18px; color: #555;
  i {
    width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7;
  }
}

.country-stats {
  min-width: 450px;

  table {
    margin: 0;
  }
  span {
    font-weight: bold;
  }
}

.wrapper {
    max-width: 100%;
    font-family: "SupriaSansW01-Light", sans-serif, Arial;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 0;
}
.site-header {
    .wrapper {
        max-width: $content_width;
    }
}
.content {
    max-width: $content_width;
    margin: auto;
}
.full-content {
    @extend .content;
    max-width: 100%;
}
.medium-content {
    @extend .content;
    max-width: $medium-content_width;
}
.wide-content {
    @extend .content;
    max-width: $wide-content_width;
}
.quote {
    text-align: center;
    width: 100%;

    .quote__content {
      padding: 1em;
    }
}

.highlight-box {
  margin: 1.5em 0;
  background: $grey;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.main-img {
}

.pyldavis {
  .pyldavis__content {
    > div {
      margin: auto;
    }
    svg {
      display: block;
      margin: auto;
    }
  }

  path {
    fill: none;
    stroke: none;
  }

  .xaxis .tick.major {
      fill: black;
      stroke: black;
      stroke-width: 0.1;
      opacity: 0.7;
  }

  .slideraxis {
      fill: black;
      stroke: black;
      stroke-width: 0.4;
      opacity: 1;
  }

  text {
      font-family: sans-serif;
      font-size: 11px;
  }

  /* IPython Notebook CSS to allow visualization to fit */
  /* I'm open to a better way of accomplishing this goal... */
  .container { width:1350px !important; }
  /* This is for nbviewer's benefit since the above wasn't enough... */
  .output_area { width:1450px !important; }
}

.section-header {
  text-align: center;
  padding: 2.5em;

  .section-header__main {
    margin-bottom: 3px;
  }
  &.section-header--no-bottom-pad {
    padding-bottom: 0.5em;
  }
}

.img-text {
  position: relative;
  text-align: center;

  .img-text__text {
    font-weight: bold;
    position: absolute;
    top: 0.7em;
    left: 25%;

    &.img-text__text--sport {
      left: 20%;
      width: 60%;
    }
    &.img-text__text--wide {
      left: 15%;
      right: 15%;
    }
    &.img-text__text--left-center {
      left: 0;
      right: 60%;
    }
    &.img-text__text--left {
      left: 0;
      right: 60%;
      text-align: left;
    }
  }
}


.counter-box {
  display: inline-block;
  width: 300px;
  text-align: center;
  font-size: 1.3em;

  .counter {
    font-weight: bold;
  }
}
.site-header {
  min-height: 0;
}
.page-content {
  padding-top: 0;
}

.main-box {
  background-color: #f7e5cd;
  border-bottom: 2px solid #434343;
}
.padded {
  margin: 3em auto;
}
