---
layout: default
---

<link rel="stylesheet" href="css/main.css">
<link href="//db.onlinewebfonts.com/c/dd437b25e5a1128bd4066f087c694c88?family=SupriaSansW01-Light" rel="stylesheet" type="text/css"/>


<div class="full-content main-box">
  <div class="content">
      <div class="img-text">
        <h1 class="img-text__text img-text__text--left img-text__text--wide">
          This is a <br>Man's word
        </h1>
        <img class="main-img" src="img/woman-ineq.jpeg">
      </div>
  </div>
</div>

<div class="content">
  <section class="section-header">
    <h1 class="section-header__main">
      <b>Is gender inequality still a thing in the 21st century?</b>
    </h1>
  </section>
</div>

<div class="content">

  <p>
    Women have been fighting for centuries to gain a full and equal participation in society, claiming it as a fundamental human right. Fair gender portrayal in the media should be considered a professional and ethical aspiration, similar to respect for accuracy, fairness and honesty. 
    Yet, <b>in 2021 all around the world women are still severely under-represented in the media</b> compared to men, even in  socially progressive countries. According to a study by the University of Zurich (cite…), <b>only one out of four people featured in the media reports is female</b>. In the last few years there seems to be a raising awareness of this problem, promoted for example by the 50:50 The Equality Project launched by BBC, however gender equality is still far from being conquered. 
  </p>

  <p>
  Our project goal is to provide a clear overview of the problem in order to answer the following question: <b>“How far are we standing from an equal representation of genders in the media?”</b>
    For this purpose, we analyzed the Quotebank dataset: a rich collection of quotes and attributed speakers published in the English News between 2015 and 2020. Additional information was retrieved about the speaker’s gender, nationality and occupation from the Wikidata. Furthermore, the Human Development dataset allowed to classify the speakers’ countries of origin from ‘Very High’ to ‘Low’ based on economic and sociocultural factors.
</p>

</div>

<div class="content">
  <section class="section-header">
    <h2 class="section-header__main">
      Putting some light on the numbers
    </h2>
  </section>
</div>

<div class="content padded">
  <div>
    <div class="counter-box">
      <span class="counter">3,693,202</span>
      <p>considered<br>quotes</p>
    </div>

    <div class="counter-box">
      <span class="counter">7682</span>
      <p>from woman<br>playing cricket</p>
    </div>

    <div class="counter-box">
      <span class="counter">20535</span>
      <p>citations of<br>female epidemiologist</p>
    </div>
  </div>
</div>

<div class="full-content highlight-box">
  <div class="content">
    <div class="quote">
      <h2 class="quote__content">
        <i>
          “No country can ever truly flourish if it stifles the potential of its women and deprives itself of the contribution of half its citizens” <br/>
          ~ Michelle Obama
        </i>
      </h2>
    </div>
  </div>
</div>

<div class="content">

  <section class="section-header">
    <h2 class="section-header__main">
      Where do highly quoted women work?
    </h2>
    <h3>
      Comparison of male and female occupations in the media
    </h3>

    <p>TODO: put here content from the notebook

  </section>

  {% include plots/freq_speakers_class_occup_gender.html %}

  <section class="section-header">
    <h2 class="section-header__main">
      Men talk about sport, women about family and health
    </h2>
    <h3>Detecting what are the topics of quotes and how is it distrubuted based on gender</h3>
  </section>
</div>

<div class="content">

  {% include plots/topics_horizontal_bar.html %}
  <p>TODO: describe which topics are most common (take from notebook)</p>

</div>

<div class="full-content highlight-box">
  <div class="content">
    <div class="img-text">
      <h3 class="img-text__text img-text__text--sport">
        Men talk about sport twice more often than women
      </h3>
      <img src="img/woman-sport.jpg">
    </div>
  </div>
</div>

<div class="wide-content">
  {% include plots/topics_dist_piechart.html %}

  <p>TODO: which topics are male or female dominated (notebook)</p>
</div>

<div class="content">

  <section class="section-header">
    <h2 class="section-header__main">
      Representation of women in developing countries
    </h2>
    <h3>Putting numbers across the world based on human development index of countries</h3>
  </section>


  <p>TODO: Woman are underrepresented in developing countries (notebook)</p>
</div>

<div class="wide-content">
  {% include plots/dist_quotes_gender_hdi_years.html %}
</div>

<div class="full-content highlight-box">
  <div class="medium-content">
    <div class="img-text">
      <h3 class="img-text__text img-text__text--left-center img-text__text--wide">
        Women are absent in <br>science, business and politics in <br>low-development countries
      </h3>
      <img src="img/woman-interview.jpg">
    </div>
  </div>
</div>

<div class="content">
  <img src="img/plots/freq_speakers_class_occup_hdi_gender.png">

  <h3>Fraction of male quotes across the world</h3>
</div>

<div id="map"></div>

<div class="content">
  <p>TODO: short comment what surprised us, and that for some of the countries we don't have enough data</p>
  <p>TODO: adjust scales</p>

  <section class="section-header">
    <h2 class="section-header__main">
      How are the previously discussed features affecting the success of a quote?
    </h2>
    <h3>Using linear regression model to observe the impact of
      speakers' gender, occupation and quotes' topic on the number of citations</h3>
  </section>

  <p>TODO: discuss coefficients</p>
  <p>TODO: update images</p>

  <p>TODO Question 1: 1. _Are women-attributed quotes less successful than men-attributed quotes?_</p>

  <p>TODO Question 2: 1. Are quotes attributed to women from developing countries less successful than those attributed to women from developed countries?</p>

  <img src="img/plots/num_occur_gender_quotes.png">

  <img src="img/plots/success_quote_woman_country_dev.png">

  <h2>TODO: In the 21st century, woman are still highly under-represented</h2>

  <p>TODO: some concluding words</p>

  <p>
    TODO: put somewhere correlation analyses results
  </p>
</div>

<!-- counter -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>

<script>
  $( document ).ready(function() {

      $('.counter').counterUp({
          delay: 10,
          time: 1500
      });
  });
</script>

<!-- leaflet css -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css"
      type="text/css">

<!-- leaflet js -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
<script src="https://unpkg.com/leaflet-gesture-handling"></script>

<!-- local -->
<script src="js/countries.js"></script>
<script src="js/countries_stats.js"></script>
<script src="js/map.js"></script>
<script src="js/topics_distance.js"></script>

