<div class="content">

  <section class="section-header">
    <h2 class="section-header__main">
      Representation of women in developing countries
    </h2>
    <h3>Putting numbers across the world based on human development index of countries</h3>
  </section>

  <p>TODO: Woman are underrepresented in developing countries (notebook)</p>
</div>

<div class="wide-content">
  {% include plots/dist_quotes_gender_hdi_years.html %}
</div>

<div class="full-content highlight-box">
  <div class="medium-content">
    <div class="img-text">
      <h3 class="img-text__text img-text__text--left-center img-text__text--wide">
        Women are absent in <br>science, business and politics in <br>low-development countries
      </h3>
      <img src="img/woman-interview.jpg">
    </div>
  </div>
</div>
