<div class="content">
  <section class="section-header">
    <h1 class="section-header__main">
      <b>Is gender inequality still a thing in the 21st century?</b>
    </h1>
  </section>
</div>

<div class="content">

  <p>
    Women have been fighting for centuries to gain a full and equal participation in society, claiming it as a fundamental human right. Fair gender portrayal in the media should be considered a professional and ethical aspiration, similar to respect for accuracy, fairness and honesty. 
    Yet, <b>in 2021 all around the world women are still severely under-represented in the media</b> compared to men, even in  socially progressive countries. According to a study by the University of Zurich, <b>only one out of four people featured in the media reports is female</b>. In the last few years there seems to be a raising awareness of this problem, promoted for example by the 50:50 The Equality Project launched by BBC, however gender equality is still far from being conquered. 
  </p>

  <p>
  Our project goal is to provide a clear overview of the problem in order to answer the following question: <b>“How far are we standing from an equal representation of genders in the media?”</b>
    For this purpose, we analyzed the Quotebank dataset: a rich collection of quotes and attributed speakers published in the English News between 2015 and 2020. Additional information was retrieved about the speaker’s gender, nationality and occupation from the Wikidata. Furthermore, the Human Development dataset allowed to classify the speakers’ countries of origin from ‘Very High’ to ‘Low’ based on economic and sociocultural factors.
</p>

</div>

<div class="content">
  <section class="section-header section-header--no-bottom-pad">
    <h2 class="section-header__main">
      Who is quoted in the media?
    </h2>
    <h3>
      Putting some light on the numbers
    </h3>
  </section>
</div>

<div class="content padded">
  <div>
    <div class="counter-box">
      <span class="counter">3,693,202</span>
      <p>considered<br>quotes</p>
    </div>

    <div class="counter-box">
      <span class="counter">7682</span>
      <p>from woman<br>playing cricket</p>
    </div>

    <div class="counter-box">
      <span class="counter">20535</span>
      <p>citations of<br>female epidemiologist</p>
    </div>
  </div>
</div>


<div class="content">
  {% include plots/quotes_number_across_years.html %}

  <p>
  We can observe that <b>men-attributed quotes are on average 6 times more present than female attributed</b> ones. This is an important consideration to keep in mind for the following results and is an indication of the limited coverage that women receive in the media. Interestingly, we observe a reduction of the gap between men vs female speakers towards the year 2020.
  </p>

  <p>
  Even though it would have been interesting to embark on analysis of inequality with respect to LGBT speakers, we did not have sufficient data to draw any conclusions from it, thus we only considered male and female speakers.
  </p>
</div>
