<div class="content">
  <h3>Fraction of male quotes across the world</h3>
</div>

<div id="map"></div>

<div class="content padded">
  <div class="points">
    <div class="points__elem">
      <span>Portugal, Netherlands and Luxembourg</span>
      <p>have almost no presence of women</p>
    </div>
    <div class="points__elem">
      <span>North and south Africa</span>
      <p>are significantly different, which coincides with the spread of muslim religion</p>
    </div>
    <div class="points__elem">
      <span>Venezuela, Belarus and Myanmar</span>
      <p>have surprisingly high fraction of female quotes</p>
    </div>
  </div>
</div>
