<div class="content">

  <section class="section-header">
    <h2 class="section-header__main">
      Are women less represented in high-placed occupations with respect to men?
    </h2>
  </section>

  <p>
    In order to inspect the distribution of occupations across genders, we looked at the 700 most common professions worldwide and manually classified them in job groups in the fields of sports, academics, art and media. The group called ‘important people’ is a combination of economy, politics and military related jobs. All those speakers with an occupation which did not belong to any group have been merged in the category ‘Other’. Notice that very often a single person could practice multiple jobs and thus belonged to multiple occupation groups simultaneously.
  </p>

  {% include plots/freq_speakers_class_occup_gender.html %}

  <p>
  Globally, the most striking differences can be observed for sports-related jobs where men dominate with almost <b>95%</b> of presence. In addition, <b>82% of the important people are men</b>. The gender gap is slightly smaller for the art and media occupations.
  </p>

  <p>
    A further step in our analysis consisted in exploring how this situation changed across countries with different development levels.
  </p>

  <img src="img/plots/freq_speakers_class_occup_hdi_gender.png">

  <p>
  One striking observation that can be made is that there are <span class="woman-text">almost no women practicing important people-jobs or academics occupations in poorly developing countries</span>. This may be due to the fact that here women cannot exert their right to education. This difference is not so remarkable though when comparing the remaining groups. Unexpectedly, the presence of women dominates over men in the media profession in countries with a medium and high development level. 
  </p>
</div>

<div class="full-content highlight-box">
  <div class="medium-content">
    <div class="img-text">
      <h3 class="img-text__text img-text__text--left-center img-text__text--wide">
        Women are absent in <br>science, business and politics in <br>low-development countries
      </h3>
      <img src="img/woman-interview.jpg">
    </div>
  </div>
</div>
