<div class="content">

  <section class="section-header">
    <h2 class="section-header__main">
      How are the previously discussed features affecting the success of a quote?
    </h2>
    <h3>Using linear regression model to observe the impact of
      speakers' gender, occupation and quotes' topic on the number of citations</h3>
  </section>

  <p>TODO: discuss coefficients</p>
  <p>TODO: update images</p>

  <p>TODO Question 1: 1. _Are women-attributed quotes less successful than men-attributed quotes?_</p>

  <p>TODO Question 2: 1. Are quotes attributed to women from developing countries less successful than those attributed to women from developed countries?</p>

  <img src="img/plots/num_occur_gender_quotes.png">

  <img src="img/plots/success_quote_woman_country_dev.png">
</div>
