<div class="content">

  <section class="section-header">
    <h2 class="section-header__main">
      How are the previously discussed features affecting the success of a quote?
    </h2>
    <h3>Using linear regression model to observe the impact of
      speakers' gender, occupation and quotes' topic on the number of citations</h3>
  </section>

  <p>
    Last but not the least, here we would like to analyze the success of a quotation, measured in terms of its  “number of occurences” in the media,  across genders. To do so, a statistical test was performed to compare the two distributions of the “number of occurences” for men- and women-attributed quotes. 
  </p>

  <img src="img/plots/num_occur_gender_quotes.png">

  <p>
    <b>We could not conclude that men are more statistically successful than women</b>. Indeed, by observing the graph above, we can notice that the two curves’ shapes are similar. One possible explanation for this could be that women struggle more than men to gain the media’s attention but once that step is past, they are equally successful.
  </p>

  <p>
    Finally (for real this time), we repeated the same test on the two distributions of the “number of occurences” for women from developing (‘Medium’ and ‘Low’ groups) and developed countries (‘Very High’ and ‘High’ groups). 
  </p>

  <img src="img/plots/success_quote_woman_country_dev.png">

  <p>
    We found statistical evidence that <b>quotes attributed to women from developed countries are more present in the media with respect to those from developing countries</b>. However, the test statistic indicates that the difference between the curves is very small.
  </p>
</div>
