<div class="content">
  <section class="section-header">
    <h2 class="section-header__main">
      Men talk about sport, women about family and health
    </h2>
    <h3>Detecting what are the topics of quotes and how is it distrubuted based on gender</h3>
  </section>
</div>

<div class="content">

  {% include plots/topics_horizontal_bar.html %}
  <p>TODO: describe which topics are most common (take from notebook)</p>

</div>

<div class="full-content highlight-box">
  <div class="content">
    <div class="img-text">
      <h3 class="img-text__text img-text__text--sport">
        Men talk about sport twice more often than women
      </h3>
      <img src="img/woman-sport.jpg">
    </div>
  </div>
</div>

<div class="wide-content">
  {% include plots/topics_dist_piechart.html %}

  <p>TODO: which topics are male or female dominated (notebook)</p>
</div>
